<div class="row">
	<div class="col-xs-3">

		<%= render 'users/profile', user: @book.user %>
		<%= render 'newform', book: @books %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<table class="table table-hover table-inverse">
			<thead>
							<tr></tr>
							<tr></tr>
							<tr></tr>
							<tr></tr>
							<tr></tr>
			</thead>
			<tbody>
				<tr>
					<td><%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg" ,size: '40x40' %></td>
					<td><%= link_to (@book.user) do %></td>
					<td><%= link_to @book.title, @book %></td>
					<td><%= @book.body %></td>
					<td><%= @book.post_comments.count %>件コメント</td>
					<% if @book.user == current_user %>
						<td><%= link_to "Edit",edit_book_path(@book), class: "btn-sm btn-success edit_book_#{@book.id}" %></td>
						<td><%= link_to "Destroy",@book, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@book.id}" %></td>
					<% end %>
				</tr>
			</tbody>
		</table>
		<%= link_to @book.user.name, user_path(@book.user) %>
	</div>
</div>

<% end %>